{% extends "base.html" %}
{% block maincontents %}
<div class="container-fluid">
    <button id="today" class="intext-btn">
        今日
    </button>
    <button id="yesterday" class="intext-btn">
        昨日
    </button>
    <button id="last_7_day" class="intext-btn">
        7日
    </button>
    <button id="this_month" class="intext-btn">
        本月
    </button>
    <button id="all" class="intext-btn">
        所有
    </button>
    <button id="reset_filter" class="intext-btn">
        重置筛选
    </button>
    <br>
    <button id="export-file" class="intext-btn">
        导出为csv文件
    </button>
    <br>
    <div id="example"></div>
</div><!-- /.container -->
<script>
var data = new Array();
data = {{ json_data | safe}};
for (var i = 0; i < data.length; i++) {
        data[i]["相关附件"] = attachment(data[i]["相关附件"])
        data[i]["ID"] = edit_id(data[i]["ID"])
};
var container = document.getElementById('example');
var hot = new Handsontable(container, {
  data: data,
  rowHeaders: true,
  colHeaders: ['日期', '地点', '时间', '受检单位', '责任班组', '责任人', '检查者', '信息来源', '问题分类', '事件等级', '问题描述', '整改措施', '处理意见', '关闭情况' , '相关附件', '操作'],
  columns: [
      {data: '日期',
       type: 'date',
       dateFormat: 'YYYY-MM-DD'},
      {data: '地点'},
      {data: '时间'},
      {data: '受检单位'},
      {data: '责任班组'},
      {data: '责任人'},
      {data: '检查者'},
      {data: '信息来源'},
      {data: '问题分类'},
      {data: '事件等级'},
      {data: '问题描述'},
      {data: '整改措施'},
      {data: '处理意见'},
      {data: '关闭情况'},
      {data: '相关附件',
        renderer: 'html',},
        {data: 'ID',
        renderer: 'html',},
    ],
  dropdownMenu: ['filter_by_condition', 'filter_by_value', 'filter_action_bar'],
  readOnly: true,
  colWidths: [65, 65, 65, 88, 88, 88, 88, 88, 88, 88, 222, 202, 88, 88, 88 , 65],
  filters: true,
  height: getHeight()
});

function getHeight() {
        return $(window).height() - $('nav').outerHeight(true) * 2;
    }

function attachment(value) {
        var the_url;
        if (value == ""){
            return "无";
        }
        else{
            the_url = "/media/112233".replace("112233", value);
            return [
                '<a href="' + the_url + '" target="_blank">' + "查看" + '</a>'
            ].join('');
        }
    }

function edit_id(value) {
        var the_url;
        if (value == ""){
            return "无";
        }
        else{
            the_url = "/admin/main/qa_info/112233/change/".replace("112233", value);
            return [
                '<a href="' + the_url + '" target="_blank">' + "修改" + '</a>'
            ].join('');
        }
    }

</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var some_day = new Date();
    var str_today = formatDate(some_day);
    some_day = new Date();
    some_day.setDate(some_day.getDate()-1);
    var str_yesterday = formatDate(some_day);
    some_day = new Date();
    some_day.setDate(some_day.getDate()-7);
    var str_last_7_day = formatDate(some_day);
    some_day = new Date();
    some_day.setDate(1);
    var str_this_month_first_day = formatDate(some_day);

    var example1 = document.getElementById('example');
    var buttons = {
        today: document.getElementById('today'),
        yesterday: document.getElementById('yesterday'),
        last_7_day: document.getElementById('last_7_day'),
        this_month: document.getElementById('this_month'),
        file: document.getElementById('export-file'),
        all: document.getElementById('all'),
        reset_filter: document.getElementById('reset_filter')
    };

    var exportPlugin = hot.getPlugin('exportFile');
    hot.getPlugin('filters').addFormula(0, 'between', [str_last_7_day, str_today]);
    hot.getPlugin('filters').filter();
    buttons.file.addEventListener('click', function() {
        exportPlugin.downloadFile('csv', {
                filename: '安全信息',
                columnHeaders: true,
                range: [0, 0, 65536, 13]
            }
        );
    });
    buttons.today.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_today, str_today]);
        hot.getPlugin('filters').filter();
    });
    buttons.yesterday.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_yesterday, str_yesterday]);
        hot.getPlugin('filters').filter();
    });
    buttons.last_7_day.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_last_7_day, str_today]);
        hot.getPlugin('filters').filter();
    });
    buttons.this_month.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_this_month_first_day, str_today]);
        hot.getPlugin('filters').filter();
    });
    buttons.all.addEventListener('click', function() {
        hot.getPlugin('filters').removeFormulas(0);
        hot.getPlugin('filters').filter();
    });
    buttons.reset_filter.addEventListener('click', function() {
        hot.getPlugin('filters').clearFormulas();
        hot.getPlugin('filters').filter();
    });
  
  
    function bindDumpButton() {
        if (typeof Handsontable === "undefined") {
            return;
        }
        Handsontable.Dom.addEvent(document.body, 'click', function (e) {
            var element = e.target || e.srcElement;
            if (element.nodeName == "BUTTON" && element.name == 'dump') {
                var name = element.getAttribute('data-dump');
                var instance = element.getAttribute('data-instance');
                var hot = window[instance];
                console.log('data of ' + name, hot.getData());
            }
        });
    }
    bindDumpButton();
    
    function formatDate(d) {  
    var D=['00','01','02','03','04','05','06','07','08','09']  
    with (d || new Date) return [getFullYear(), D[getMonth()+1]||getMonth()+1, D[getDate()]||getDate()].join('-');  
    }
});



</script>
{% endblock %}