{% extends "base.html" %}
{% block maincontents %}
<div class="row">
    <div class="col-md-3">
        <h2>当日统计</h2>
        <div id="count_sum"></div>
    </div>
    <div class="col-md-9">
        <h2>详细记录</h2>
        <button id="today" class="intext-btn">
            今日
        </button>
        <button id="yesterday" class="intext-btn">
            昨日
        </button>
        <button id="last_7_day" class="intext-btn">
            7日
        </button>
        <button id="this_month" class="intext-btn">
            本月
        </button>
        <button id="all" class="intext-btn">
            所有
        </button>
        <button id="reset_filter" class="intext-btn">
            重置筛选
        </button>
        <br>
        <button id="export-file" class="intext-btn">
            导出为csv文件
        </button>
        <br>
        <div id="example"></div>
    </div>
</div><!-- /.container -->
<script>
var data = new Array();
data = {{ json_data | safe}};
for (var i = 0; i < data.length; i++) {
        data[i]["相关附件"] = attachment(data[i]["相关附件"])
        data[i]["ID"] = edit_id(data[i]["ID"])
};
var container = document.getElementById('example');
var hot = new Handsontable(container, {
  data: data,
  rowHeaders: true,
  colHeaders: ['出发日期', '出发时间', '收车日期', '收车时间', '工作者', '工作类型', '工作内容', '车牌号', '此次工时', '操作', '出发时间'],
  columns: [
      {data: '出发日期',
       type: 'date',
       dateFormat: 'YYYY-MM-DD'},
       {data: '出发时间',
       type: 'time',
       dateFormat: 'hh:mm:ss'},
      {data: '收车日期',
       type: 'date',
       dateFormat: 'YYYY-MM-DD'},
       {data: '收车时间',
       type: 'time',
       dateFormat: 'hh:mm:ss'},
      {data: '工作者'},
      {data: '工作类型'},
      {data: '工作内容'},
      {data: '车牌号'},
      {data: '此次工时'},
        {data: 'ID',
        renderer: 'html',},

    ],
  dropdownMenu: ['filter_by_condition', 'filter_by_value', 'filter_action_bar'],
  readOnly: true,
  colWidths: [120, 120, 120, 120, 100, 100, 88, 100, 100],
  filters: true,
  height: getHeight()
});

var count_sum_data = {{ json_sum | safe }};
var container_sum = document.getElementById('count_sum');
var hot_sum = new Handsontable(container_sum, {
  data: count_sum_data,
  rowHeaders: true,
  colHeaders: ['工作者', '当日工时总计'],
  columns: [
      {data: 'worker'},
      {data: 'sum'},
    ],
  dropdownMenu: ['filter_by_condition', 'filter_by_value', 'filter_action_bar'],
  readOnly: true,
  colWidths: [120, 120],
  filters: true,
  columnSorting: {
    column: 1,
    sortOrder: true,
  },
});

function getHeight() {
        return $(window).height() - $('nav').outerHeight(true) * 2;
    }

function attachment(value) {
        var the_url;
        if (value == ""){
            return "无";
        }
        else{
            the_url = "/media/112233".replace("112233", value);
            return [
                '<a href="' + the_url + '" target="_blank">' + "查看" + '</a>'
            ].join('');
        }
    }

function edit_id(value) {
        var the_url;
        if (value == ""){
            return "无";
        }
        else{
            the_url = "/admin/car_record/car_record/112233/change/".replace("112233", value);
            return [
                '<a href="' + the_url + '" target="_blank">' + "修改" + '</a>'
            ].join('');
        }
    }

</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var some_day = new Date();
    var str_today = formatDate(some_day);
    some_day = new Date();
    some_day.setDate(some_day.getDate()-1);
    var str_yesterday = formatDate(some_day);
    some_day = new Date();
    some_day.setDate(some_day.getDate()-7);
    var str_last_7_day = formatDate(some_day);
    some_day = new Date();
    some_day.setDate(1);
    var str_this_month_first_day = formatDate(some_day);

    var example1 = document.getElementById('example');
    var buttons = {
        today: document.getElementById('today'),
        yesterday: document.getElementById('yesterday'),
        last_7_day: document.getElementById('last_7_day'),
        this_month: document.getElementById('this_month'),
        file: document.getElementById('export-file'),
        all: document.getElementById('all'),
        reset_filter: document.getElementById('reset_filter')
    };
    hot.getPlugin('filters').addFormula(0, 'between', [str_today, str_today]);
    hot.getPlugin('filters').filter();
    var exportPlugin = hot.getPlugin('exportFile');
    buttons.file.addEventListener('click', function() {
        exportPlugin.downloadFile('csv', {
                filename: '出车信息',
                columnHeaders: true,
                range: [0, 0, 65536, 13]
            }
        );
    });
    buttons.today.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_today, str_today]);
        hot.getPlugin('filters').filter();
    });
    buttons.yesterday.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_yesterday, str_yesterday]);
        hot.getPlugin('filters').filter();
    });
    buttons.last_7_day.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_last_7_day, str_today]);
        hot.getPlugin('filters').filter();
    });
    buttons.this_month.addEventListener('click', function() {
        hot.getPlugin('filters').addFormula(0, 'between', [str_this_month_first_day, str_today]);
        hot.getPlugin('filters').filter();
    });
    buttons.all.addEventListener('click', function() {
        hot.getPlugin('filters').removeFormulas(0);
        hot.getPlugin('filters').filter();
    });
    buttons.reset_filter.addEventListener('click', function() {
        hot.getPlugin('filters').clearFormulas();
        hot.getPlugin('filters').filter();
    });
  
  
    function bindDumpButton() {
        if (typeof Handsontable === "undefined") {
            return;
        }
        Handsontable.Dom.addEvent(document.body, 'click', function (e) {
            var element = e.target || e.srcElement;
            if (element.nodeName == "BUTTON" && element.name == 'dump') {
                var name = element.getAttribute('data-dump');
                var instance = element.getAttribute('data-instance');
                var hot = window[instance];
                console.log('data of ' + name, hot.getData());
            }
        });
    }
    bindDumpButton();
    
    function formatDate(d) {  
    var D=['00','01','02','03','04','05','06','07','08','09']  
    with (d || new Date) return [getFullYear(), D[getMonth()+1]||getMonth()+1, D[getDate()]||getDate()].join('-');  
    }
});



</script>
{% endblock %}